body {
  margin: 0;
  padding: 0;
  
}

main{
  margin: 0;
  padding: 0 30;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}



.page-card {
  display: inline-block;
  height: auto;
  width: 600px;
  padding: 30px;


  border-radius: 30px;
  background-color: pink;
}


.page-description {
  width: fit-content;
}


.page-title {
  text-align: center;
  font-size: 2rem;


  background-image: linear-gradient(10deg, rgb(12, 79, 194) 5%, teal 30%);
  border-radius: 40px;
  height: 2em;
  align-content: center;
}


.page-img {
  margin: auto;
  width: fit-content;
  align-self: center;
}


#project-cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
}



/* I used w3 schools to help with my css /*