h1{
    text-align: center;
    background-color: rgb(102, 174, 246);
}

fieldset{
    display: flex;
    flex-direction: column;
    width: 500px;

    font-size: 1.5rem;
}

form{
    justify-self: center;
}

select{
    font-size: 1.2rem;
}

input{
    font-size: 1.2rem;
}

#grade-input{
    display: flex;
}



#submitbtn{
    height: 50x;
    width: 150px;
    background-color: #321aa2;
}