.img-card {
    padding: 5rem;
    border: #12ade5 solid 2rem;
    border-radius: 50px;

    corner-shape: bevel;

    background-image: linear-gradient(45deg, rgb(74, 74, 239) 50%, white 90%);
    
}

.img-card > img{
    height: 200px;
}

.container{
    display: flex;
    gap: 3rem;  
}