main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
 
}

.contact-card {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px black;
    text-align: center;
    width: 400px;

}


footer {
  background: black;
  color: white;
  text-align: center;
  padding: .1rem;

  position: sticky;
  bottom: 0;
  width: 100%;
}
