body {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.tri {
    width: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 200px solid;
    transition: transform 2s ease-in-out, border-bottom 2s ease-in-out;
}



.tri:hover {
    transform: rotate(180deg);
    border-bottom: 200px solid red;
}


