body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}


#login {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px black;
    width: 300px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5c67f2;
    color: white;
}

#error-msg {
    color: red;
    font-size: 15px;
    display: none;
    margin-top: 20px;
}